body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}





header h1 {
    margin: 0;
}

section {
    padding: 40px 0;
}
section h2 {
    color: #333;
}



header img {
    position: absolute;
    top: 20%;
width: 120px; /* Adjust the width as needed */
    height: 120px; /* Adjust the height as needed */
    right: 200px; /* Adjust the right distance as needed */
    transform: translateY(-50%);
    border-radius: 50%; /* Optional: Add a border-radius for a circular image */
}

/* Add this to your existing CSS or in a new section for styling */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007BFF; /* Choose a suitable color */
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #0056b3; /* Adjust the color for hover effect */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
